<h3>There are going to be so many cookie pics here <br/><small>but for now we will settle for Fill Murray</small></h3>
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8 nestedpadding">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <img class="img-responsive" src="http://www.fillmurray.com/780/485" />
                <div class="gridpadspacer"></div>
                <img class="img-responsive" src="http://www.fillmurray.com/785/485" />
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <img class="img-responsive" src="http://www.fillmurray.com/770/480" />
                <div class="gridpadspacer"></div>
                <img class="img-responsive" src="http://www.fillmurray.com/760/468" />
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
            <img class="img-responsive" src="http://www.fillmurray.com/780/1005" />
        </div>
    </div>
    @*<div class="row">
        <div class="col-lg-12">
            <div class="gridpadcrop"></div>
        </div>
    </div>*@
    <div class="gridpadspacer"></div>
</div>
