@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800|Roboto+Slab:400,100,300,700);

html { 
  overflow-y: scroll; 
}

body {
    padding-top: 0;
    font-family: "Roboto Slab", sans-serif;
    font-weight: 300;
    font-size: 2em;
    position: relative;
    color: #000523;
    background-color: #fff0de;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Open Sans", sans-serif;
    font-weight: 100;
    margin: 0;
    color: #000523;
}

.input-sm {
    margin-bottom: 5px;
}

.navbar {
    border-radius: 0;
    border: 0;
}

header .navbar {
    padding: 0;
}

header .navbar-default {
    background-color: transparent;
    border: none;
}

header .navbar-default .navbar-nav a {
    color: #fff0de;
}

header .navbar-default .navbar-nav a.inbody {
    color: #fff0de;
}

header .navbar-default .navbar-nav a:hover {
    color: #FFF056;
}

header .navbar-default .navbar-nav .active a {
    font-weight: 700;
    color: #FFF056;
    background: transparent;
    border-bottom: 4px solid #FFF056;
    text-shadow: none;
}

header .navbar-default .navbar-nav .active a:hover {
    color: #fff7a3;
    background: transparent;
    text-shadow: none;
}

/***Navbar Brand***/
header .navbar-brand {
    /*background: url();*/
}

header .navbar-brand h1 {
    color: #fff0de;
    margin: 0;
    font-size: 1.3em;
    font-weight: 400;
    padding-left: 0;
}

/***Navbar Mobile Menu***/
header .navbar-toggle {
    background-color: #FFF056;
}

header .navbar{
    background-color: #000000;
    background-color: rgba(0, 5, 35, .8);
}

@media only screen
and (max-width: 768px) {
    header .navbar-collapse.in {
        background-color: #000000;
        background-color: rgba(0, 5, 35, .8);
    }
}

.page {
    padding: 50px 0;
}

.page h2 {
    text-align: center;
    margin-bottom: 30px;
}

/*#about {
    background-color: #E4D29D;
    background-image: linear-gradient(to bottom, #EEE08A, #E4D29D);
    border-top: 20px solid rgba(238, 200, 86, .5);
}*/

.bakedgoods {
    margin: 20px 0;
    text-align: center;
}

#bakedgoods img {
    display: block;
    width: 80px;
    margin: 0 auto;
    margin-bottom: 5px;
}

#bakedgoods h3 {
    margin-bottom: 10px;
}

@media only screen 
and (min-width: 450px)
and (max-width: 768px)
{
    .bakedgoods p {
        padding: 0 20%;
    }
}

.contact-form {
    padding-top: 50px;
}

textarea {
    border-radius: 4px;
}

.nestedpadding {
    padding-left: 0;
    padding-right: 0;
}

.gridpadspacer {
    margin-bottom: 15px
}

@media (max-width: 1380px) {
    .gridpadcrop {
        background-color: #f1f2f2;
        height: 5px;
        margin-top: -5px;
    }
}

.gridpadcrop {
    position: absolute;
    top: 98%;
    width: 100%;
    height: 10px;
    margin-top: -15px;
    content: " ";
    z-index: 100;
    display: block;
    right: 0;
    bottom: 0;
    opacity: 1;
}

#featured .item {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    height: 100%;
}
